resources:
- namespace.yaml
- deployment.yaml
- service.yaml
- secrets.yaml
- cronjob.yaml
- pvc.yaml
commonLabels:
  app: opengauss-meetingserver
commonAnnotations:
  email: 469227928@qq.com
  owner: liuqi
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: meetingserver
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/mindspore/mindspore-meeting-server
  newTag: 1bf004d4de5b25b11a17886b2501ef7681474daf
