#- purge-cache.yaml
#- purge-secrets.yaml
resources:
- deployment.yaml
- namespace.yaml
- service.yaml
- ingress.yaml
- pvc.yaml
- secrets.yaml
- job.yaml
- oauth-proxy.yaml
- cibot-service.yaml
- covid-service.yaml
commonAnnotations:
  email: 245462755@qq.com
  owner: zhengyuhang
namespace: website
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/mindspore/mindspore-website
  newTag: v1.0.20230701153158
