apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- deployment.yaml
- configmap.yaml
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/mindspore/xihe-script
  newTag: v1.0.20230808205503
