apiVersion: kustomize.config.k8s.io/v1beta1
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/mindspore/mindspore-usercenter
  newTag: 786526c7b396ed112531e99eedabde1cf5a2c074
kind: Kustomization
namespace: mindspore-usercenter
resources:
- namespace.yaml
- website-ingress.yaml
- website-service.yaml
- website-deployment.yaml
commonAnnotations:
  kubernetes.ops.cluster: mindspore-cn4-x86
  kubernetes.ops.email: 377075038@qq.com
  kubernetes.ops.os.base: openeuler
  kubernetes.ops.owner: chenqi
  kubernetes.ops.region: beijing
