apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- namespace.yaml
- secrets.yaml
- secrets_nlp.yaml
- lifecycle
- assign-issue
- label
- openeuler-welcome
- openeuler-review
- repo-watcher-openeuler
- repo-watcher-src-openeuler
- cla
- tech4dx-label
- hook-delivery
- hook-dispatcher
- synchronizer
commonLabels:
  app: infrastructure-robot-gitee
commonAnnotations:
  email: chenzeng765@163.com
  owner: chenzeng
namespace: robot-gitee-openeuler
