resources:
- deployment.yaml
- namespace.yaml
- service.yaml
- secret.yaml
- ingress.yaml
namespace: internship
commonAnnotations:
  kubernetes.ops.cluster: mindspore-cn4-x86
  kubernetes.ops.email: 15622356989@163.com
  kubernetes.ops.os.base: openeuler
  kubernetes.ops.owner: gongzhuangbang
  kubernetes.ops.region: beijing
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/mindspore/internship-website
  newTag: a88c915e41e5076096505230bb94f2b7ed77fd21
