resources:
- namespace.yaml
- deployment.yaml
- service.yaml
- secrets.yaml
- pvc.yaml
- ingress.yaml
commonAnnotations:
  email: 747802914@qq.com
  owner: liuyang
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mindspore-repo-post-verify
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/mindspore/mindspore-repo-post-verify
  newTag: v1.0.20230801200725
