apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../bot-base
- configmap.yaml
commonLabels:
  component: review
patches:
- path: deployment.json
  target:
    group: apps
    kind: Deployment
    name: deployment
    version: v1
nameSuffix: -review
images:
- name: swr.cn-north-4.myhuaweicloud.com/opensourceway/robot/robot-gitlab
  newName: swr.cn-north-4.myhuaweicloud.com/opensourceway/robot/robot-gitlab-review
  newTag: main-9bc57dc
